<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Skills</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showActionSheet()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(skills.length==0)" class="row">
    <div class="col">
      <div class="text-center">
        <h5 style="text-align: center;">{{textNoSkill}}</h5>
      </div>
    </div>
  </div>

  <!-- quando non sta caricando mostro una card per ogni elemento-->
  <div *ngIf="!loading">
    <ion-card *ngFor="let skill of skills" (click)="deleteSkill(skill)">
      <ion-item>
        <ion-label>
          <h2 text-capitalize>{{skill.name}}</h2>
          <p *ngIf="skill.isGloballyExpert">globallyExpert</p>
          <ion-label *ngFor="let org of skill.expertInOrganization">
            <p>{{org}}</p>
          </ion-label>
          <p>level : {{skill.level}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- quando sta caricando mostro gli skeleton-text -->
  <div *ngIf="loading">
    <ion-card *ngFor="let i of [].constructor(10)">
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>


</ion-content>