 <!-- menu generale per ogni applicazione -->
 <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" auto-hide="true">
      <ion-content>
        <ion-list>
          <ion-list-header>Azioni</ion-list-header>
          <ion-menu-toggle auto-hide="false">
          <!-- routerLink ci permette di indicare la pagina da aprire nel caso che quella sezione di codice venga toccata -->
            <ion-item (click)="home()">
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="listProjects()">
              <ion-label>Projects List</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged() && dataService.isOrganizationSelected()" auto-hide="false">
            <ion-item (click)="createProject()">
              <ion-label>Create Project</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged() && !dataService.isOrganizationSelected()" auto-hide="false">
            <ion-item (click)="createOrganization()">
              <ion-label>Create Organization</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="listOrganizations()">
              <ion-label>Organizations List</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged()" auto-hide="false">
            <ion-item (click)="viewSkill()">
              <ion-label>User Skills</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged() && !dataService.isOrganizationSelected()" auto-hide="false">
            <ion-item (click)="selectOrganizationCreator()">
              <ion-label>Select Organization</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged() && dataService.isOrganizationSelected()" auto-hide="false">
            <ion-item (click)="quitFromOrg()">
              <ion-label>Quit from Organization</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="!dataService.isUserLogged()" auto-hide="false">
            <ion-item (click)="createUser()">
              <ion-label>Register</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged()" auto-hide="false">
            <ion-item (click)="userSubmission()">
              <ion-label>My submission</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="!dataService.isUserLogged()" auto-hide="false">
            <ion-item (click)="logInUser()">
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isUserLogged()" auto-hide="false">
            <ion-item (click)="logOutUser()">
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Toggle Dark Theme</ion-label>
            <ion-toggle slot="end"
                        [ngModel]="darkMode"
                        (ionChange)="cambio()">
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>