 <!-- menu generale per ogni applicazione -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" auto-hide="true">
      <ion-content>
        <ion-list>
          <ion-list-header>Azioni</ion-list-header>
          <ion-menu-toggle auto-hide="false">
          <!-- routerLink ci permette di indicare la pagina da aprire nel caso che quella sezione di codice venga toccata -->
            <ion-item (click)="home()">
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="listProjects()">
              <ion-label>List of projects</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isLog && dataService.isLogOrg" auto-hide="false">
            <ion-item (click)="createProject()">
              <ion-label>Create project</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isLog && !dataService.isLogOrg" auto-hide="false">
            <ion-item (click)="createOrganization()">
              <ion-label>Create organization</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="listOrganizations()">
              <ion-label>List of organizations</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isLog && !dataService.isLogOrg" auto-hide="false">
            <ion-item (click)="selectOrganizationCreator()">
              <ion-label>Select OrganizationC</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isLog && dataService.isLogOrg" auto-hide="false">
            <ion-item (click)="quitFromOrg()">
              <ion-label>Quit from OrganizationC</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="!dataService.isLog" auto-hide="false">
            <ion-item (click)="createUser()">
              <ion-label>Create User</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="!dataService.isLog" auto-hide="false">
            <ion-item (click)="logInUser()">
              <ion-label>LogIn User</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="dataService.isLog" auto-hide="false">
            <ion-item (click)="logOutUser()">
              <ion-label>LogOut User</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
