<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <p *ngIf="dataService.isUserLogged()">{{dataService.user.name}}</p>
  <p *ngIf="dataService.isOrganizationSelected()">{{dataService.selectedOrganization.name}}</p>

</ion-content>