<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <p *ngIf="dataService.isUserLogged()">{{dataService.getUserMail()}}</p>

  <ion-refresher slot="fixed" (ionRefresh)="loadOrganizations($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p align="center" *ngIf="dataService.isUserLogged()">Your</p>

  <ion-segment (ionChange)="segmentChanged($event)" value="organizations" *ngIf="dataService.isUserLogged()">
    <ion-segment-button value="organizations">
      <ion-label>Organizations</ion-label>
    </ion-segment-button>
    <ion-segment-button value="projects">
      <ion-label>Projects</ion-label>
    </ion-segment-button>
  </ion-segment>


  <p align="center" *ngIf="!dataService.isUserLogged()">esegui il login per vedere<br>più informazioni</p>

   

  <!-- per ogni elemento presente in organizations creo una ion-card-->
  <div *ngIf="isOrganizations()">
  <p align="center" *ngIf="getOrganizations().length!=0"><ion-label>your organizations</ion-label></p>
  <p align="center" *ngIf="getOrganizations().length==0 && dataService.isUserLogged()">non appartieni a nessuna organizzazione</p>
    <ion-card *ngFor="let organization of getOrganizations()">
      <ion-item (click)="viewOrganization(organization.id)" routerDirection="forward">
        <ion-label>
          <h2 text-capitalize>{{organization.name}}</h2>
          <p>{{organization.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="!isOrganizations()">
  <p align="center" *ngIf="getProjects().length!=0"><ion-label>your projects</ion-label></p>
  <p align="center" *ngIf="getProjects().length==0 && dataService.isUserLogged()">non hai creato nessun progetto</p>
    <ion-card *ngFor="let project of getProjects()">
      <ion-item (click)="viewProject(project.id)" routerDirection="forward">
        <ion-label>
          <h2 text-capitalize>{{project.title}}</h2>
          <p>{{project.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

</ion-content>