<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="mail" [(ngModel)]="mail"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.mail">
      <div class="error-message"
        *ngIf="validations_form.get('mail').hasError(validation.type) && (validations_form.get('mail').dirty || validations_form.get('mail').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="secret" [(ngModel)]="secret"></ion-input>    
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.secret">
      <div class="error-message"
        *ngIf="validations_form.get('secret').hasError(validation.type) && (validations_form.get('secret').dirty || validations_form.get('secret').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">
      LogIn</ion-button>
  </form>
</ion-content>