<ion-header>
 <ion-toolbar>
  <ion-title>VIEW PROJECT</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content fullscreen>

 <ion-card>
  <ion-item>
    <ion-label>
      <h2 text-capitalize>{{project.name}}</h2>
      <p>{{project.description}}</p>
      <p>{{project.organizationName}}</p>
      <p>{{project.creatorMail}}</p>
      <p>{{isClosed}}</p>
      <p>neededSkills ?</p>
      <p>candidates ?</p>
    </ion-label>
  </ion-item>
 </ion-card>
</ion-content>

<ion-button (click)="modify()" [routerLink]="['/modify-project']">modify</ion-button>

<ion-button (click)="delete()" [routerLink]="['/list-of-projects']">delete</ion-button>

<ion-button (click)="onClick()" [routerLink]="['/list-of-projects']" >back</ion-button>
