<ion-header>
  <ion-toolbar>
    <ion-title>MODIFY ORGANIZATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="save()">
  <ion-item>
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title" [(ngModel)]="title" placeholder= {{organization.name}} ></ion-input>
  </ion-item>
  <ng-container *ngFor="let validation of validation_messages.title">
    <div class="error-message" *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
  <ion-item>
    <ion-label position="floating" color="primary">Description</ion-label>
    <ion-input type="text" formControlName="description" [(ngModel)]="description" placeholder= {{organization.description}}></ion-input>
  </ion-item>
  <ng-container *ngFor="let validation of validation_messages.description">
    <div class="error-message" *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Submit data</ion-button>
  </form>
  <div class="row error-organization">
     <div class="col">
         <div class="text-center">
             <h5 style="text-align: center;">{{organization_already_exists}}</h5>
         </div>
     </div>
 </div>
 
</ion-content>




<ion-button (click)="viewOrganization(organization.name)">back</ion-button>
