<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modify Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title" [(ngModel)]="title" placeholder={{project.title}}></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.title">
      <div class="error-message"
        *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="description"
        placeholder={{project.description}}></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.description">
      <div class="error-message"
        *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">
      Submit data</ion-button>
  </form>

  <ion-label position="floating" color="primary">Select the skill to modify</ion-label>


  <ion-card *ngFor="let skill of project.neededSkills">
    <ion-item (click)='modifySkill(skill)'>
      <ion-label>
        <h2 text-capitalize>{{skill.name}}</h2>
        <p>{{skill.level}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>