<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Organization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <h5 *ngIf="(organizations.length == 0) && !loading" style="text-align: center;">{{textNoOrganizations}}</h5>
        <h5 *ngIf="!(organizations.length == 0) && !loading" style="text-align: center;">Seleziona l'organizzaione con
          cui accedere</h5>
      </div>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- per ogni elemento presente in organizations creo una ion-card-->
  <div *ngIf="!loading">
    <ion-card *ngFor="let organization of organizations">
      <ion-item (click)="selectOrg(organization)" routerDirection="forward">
        <ion-label>
          <h2 text-capitalize>{{organization.name}}</h2>
          <p>{{organization.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- mentre sta caricando le prime organizzazioni -->
  <div *ngIf="loading">
    <ion-card *ngFor="let item of [].constructor(10)">
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- comando per creare uno scroll infinito-->
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more organizations ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>